{
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "parser": "json-stringify"
      }
    },
    {
      "files": ["*.wxss", "*.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss",
        "singleQuote": true
      }
    },
    {
      "files": ["*.wxml", "*.html"],
      "options": {
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "css",
        "parser": "html",
        "printWidth": 80
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
